{{#each news}}
<div class="article-wrapper">
	<div class="article-item">
        <div class="article-headline">
            {{headline}}
        </div>

        <div class="article-text">
            <a href={{href}} target="_blank">{{link}}</a><br>
            {{meta}}
        </div>
        <button class="comment-button" value="{{_id}}">COMMENTS</button>
	</div>
</div>
{{/each}}
